<div class="row g-2 mt-1" id="sysraw-settings">
            <div class="form-check form-switch col-12 text-secondary pt-3">
                {{ form.sysraw_enable (class_="form-check-input")}}
                {{ form.sysraw_enable.label(class_="form-check-label") }}
            </div>
            <div class="col-8">
              <div class="form-floating">
                {{ form.sysraw_ip }}
                <label>{{ form.sysraw_ip.label }}</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating">
                {{ form.sysraw_port }}
                <label>{{ form.sysraw_port.label }}</label>
              </div>
            </div>
</div>