
<!doctype html>
<html lang="en">
  <head>
    <title>3IEM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">
    <meta name="theme-color" content="#ffffff">
  </head>
<body class="text-center">
    
<div class="bg">
</div>
  <main class="form-signin ">
  <form method="post">
    {{ form.csrf_token }}
    <img class="mb-4" 
         src="{{ url_for('static', filename='images/logo.png') }}" 
         alt="" 
         width="180" height="50">
    <div class="form-floating ">
      {{ form.user(class_="form-control", id="floatingLogin") }}
      <label for="floatingLogin">{{ form.user.label }}</label>
    </div>
    <div class="form-floating">
      {{ form.pswd(class_="form-control", id="floatingPswd") }}
      <label for="floatingPswd">{{ form.pswd.label }}</label>
    </div>
    <input class="w-100 btn btn-lg btn-primary" type=submit value=Войти>

    <p class="mt-5 mb-3 text-muted">&copy; ZIEM 2022</p>
  </form>
</main>

<div class="position-fixed bottom-0 end-0 p-5" style="z-index: 11">        
    <div class="toast" id="toast_error" data-bs-autohide="false">
        <div class="toast-header">
            <strong class="me-auto text-danger"> Ошибка </strong>
            <small>Сейчас</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
        </div>
        <div class="toast-body" id="toast_errorvalue">
            
            <a href="#"></a>
        </div>
    </div>
</div>

    
</body>
</html>

<script type="text/javascript"
        src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

<script>
document.addEventListener("DOMContentLoaded", function(){
  let myAlert = document.getElementById("toast_error");
  let bsAlert = new  bootstrap.Toast(myAlert);
  var toast = document.getElementById("toast_errorvalue")
  {% if form.errors %}
  {% for error in form.errors %}
    toast.innerHTML += "{{form[error].description|safe}}" + ": " + "{{form.errors[error][0]|safe}}";
    toast.innerHTML += "<br>";
  {% endfor %}
  bsAlert.show();
  {% endif %}
});


</script>