{% extends 'base.html' %}

{% block content %}
<form 
  method="POST" 
  class="post-form"
  id="form"
  action="{{ url_for('rep.get_inc') }}"
>
<div class="row d-flex justify-content-center">
  <div class="col m-3">
    <div class="row">
      <div class="col-7 fs-4 mb-5">
        Просмотр инцидентов
        <span 
          class="badge rounded-pill bg-warning text-dark"
          id="table-count">
          {{ data|length }}
        </span>
      </div>
    </div>
    <div 
      class="card border-light shadow p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <div class="row g-2">
          <div class="col-3">
            <div class="form-floating ">
            {{form.meta_field(list="id_datalist", class="form-control", onchange="postData()")}}
              <datalist  id="id_datalist" >
              {% for entry in meta_fields %}
                <option value={{ entry }}>
              {% endfor %}
              </datalist>
              <label 
                class="text-secondary"
                for="country">
                <label for="country">
                  Правило
                </label>
              </label>
            </div>
          </div>        

          <div class="col-4">
            <div class="form-floating ">
              <input 
                aria-invalid="false" 
                type="text" 
                placeholder="поиск"
                class="form-control" 
                onkeyup="searchRow()"
                data-url="{}"
                value="" 
                id="searchInput">
              <label 
                class="text-secondary"
                for="search">
                <label for="search">
                      <i class="fas fa-search"></i>
                  Фильтр...
                </label>
              </label>
            </div>
          </div>
          <div class="col-1">
            <button 
              class="btn btn-outline-secondary border-0" 
              type="button" 
              data-bs-toggle="offcanvas" 
              data-bs-target="#offcanvasRight" 
              aria-controls="offcanvasRight">
            <i class="fas fa-filter"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
              <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel">Фильтры</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <button
                  class="form-control btn btn-primary mb-5" 
                  type="button"
                  data-bs-dismiss="offcanvas"
                  onclick="postData()">
                  Применить
                </button>
                Начальное время
                {{ form.date_start(class_="form-control") }}
                <br>
                Конечное время
                {{ form.date_end(class_="form-control") }}
              </div>
            </div>              
          </div>
          <div class="col d-flex flex-row-reverse mb-3 ">
            <a 
              class="btn btn-primary mx-1 shadow" 
              data-toggle="tooltip" 
              title="Сохранить архив"
              onclick="exportTableToCSV('incs.csv')">
              Сохранить
            </a>
          </div>              
        </div>
      </div>
      <div class="table-responsive p-3">
        <table class="table table-borderless mb-0" id="table">
          <thead class="table-light">
            <tr>
              <th 
                onclick="sortTableByColumn(this,'table',1)"
                    data-toggle="tooltip" 
                    title="Критичность"
                >
                К
              </th>
              <th onclick="sortTableByColumn(this,'table',2)">
                Время
              </th>
              <th onclick="sortTableByColumn(this,'table',3)">
                Название
              </th>
              <th onclick="sortTableByColumn(this,'table',4)">
                Описание
              </th>
              <th>
                События
              </th>
            </tr>
          </thead>
            <tbody>
              <tr>
                <td colspan=5 class="preload__body">
                    {% include 'preload.html' %}
                </td>
              </tr>
            </tbody>
        </table>
        <div 
          id="paginator">
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<div class="modal fade" id="Modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        
        <h5 class="modal-title">
          <i class="bi bi-alarm"></i>
          <i class="fa-solid fa-calendar text-primary"></i> 
        Просмотр инцидента</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function(){
  const url = document.getElementById("form").action;
  var paginator=document.getElementById('paginator');
  renderPaginator(paginator);
  loadTable(url);
});

function editTable(oData){
  var table = document.getElementById("table");
  var body=table.getElementsByTagName('tbody')[0];
  body.innerHTML=''
  const event_fields = [
    'alr_node', 
    'alr_ip', 
    'alr_msg', 
  ]  
  oData.forEach(item => {
    msgs = [];
    var i = 0;
    var newrow=body.insertRow();
    var inc_crit = "";
    if (item.inc_crit){
      if (item.inc_crit == 'high'){
        inc_crit = `<i class="fas fa-radiation text-danger"></i>`;
      }
      else if (item.inc_crit == 'medium'){
        inc_crit = `<i class="fas fa-radiation text-warning"></i>`;
      }
      else {
        inc_crit = `<i class="fas fa-radiation text-secondary"></i>`;
      }
    }
    var fields = [];
    item['events'].forEach(event => {
      console.log(event)
      fields.push(event['msg']);
    });
    newrow.dataset.url = item._id + '/modal';
    newrow.onclick = function () {showModal(this)};
    newrow.innerHTML=`
      <td>` + inc_crit + `</td> 
      <td>` + item.inc_time.slice(0,19) + `</td>
      <td>` + item.inc_name + `</td> 
      <td>` + item.inc_mesg + `</td>

      <td>` + fields.join('<br>') + `</td>`
  })
  searchRow();
}

function applyFilter(){
  document.getElementById("offcanvasRight").classList.remove('show');;
  postData();
}
</script>

{% endblock %}

