<div class="row p-3">
  <div class="table-responsive p-3">
    <table class="table table-borderless mb-0" id="table">
    {% for d in data %}
    {% if d != 'События' %}
      <tr>
        <td>
        {{ d }}
        </td>
        <td>
          {{ data[d] }}
        </td>
      </tr>
    {% else %}
      <tr>
        <td>
        События
        </td>
        <td>
        </td>
      </tr>
      {% for event in data[d] %}
      {% for e in event %}
        <tr>
          <td>
          {{ e }}
          </td>
          <td>
            {{ event[e] }}
          </td>
        </tr>
      {% endfor %}
        <tr>
        </tr>
      {% endfor %}
    {% endif %}
    {% endfor %}
    </table>
  </div>
</div>