{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
<div class="col-10 m-3">
<form 
  method="POST" 
  class="post-form" 
  id="form"
  action="{{ url_for('nor.get_rule', obj=obj) }}"
  data-url="/nor/rule/"
>
  <div class="row">
    <div class="col-7 fs-4 mb-5">
      Правила нормализация
      <span 
        class="badge rounded-pill bg-warning text-dark"
        id="table-count">
        {{ data|length }}
      </span>
    </div>
  </div>
  <div 
    class="card border-0 shadow-sm bg-body rounded">
    <div class="p-4 row g-2 m-0 rounded" id="main_panel">
        <div class="col-3">
          <div class="form-floating ">
            {{ form.selected_obj(onchange="postData()") }}
            <label>{{ form.selected_obj.label }}</label>
          </div>
        </div>
        <div class="col-4">
          <div class="form-floating ">
            {{ form.searchInput(onkeyup="searchRow()", type="text") }}
            <label>{{ form.searchInput.label }}</label>
          </div>
        </div>            
        <div class="col d-flex flex-row-reverse mb-3">
          <a class="btn btn-lg btn-warning border-0" 
             data-toggle="tooltip" 
             title="Установить правила"
             onclick="clickButton(this)"
             data-url="{{ url_for('main.install') }}">
             <i class="fas fa-download"></i>
          </a>               
          <a 
            class="btn btn-lg btn-secondary shadow mx-1" 
            data-toggle="tooltip" 
            title="Просмотр в JSON"
            href="{{ url_for('nor.rule_json') }}">
            <i class="fas fa-file-code"></i> 
          </a>
          <a 
            class="btn btn-lg btn-secondary shadow mx-1" 
            data-toggle="tooltip" 
            title="Сохранить архив"
            href="{{ url_for('nor.rule_save') }}">
            <i class="fas fa-file-archive"></i>
          </a>
          <a 
            class="btn btn-lg btn-primary shadow mx-1" 
            data-toggle="tooltip" 
            title="Добавить правило"
            href="{{ url_for('nor.rule_add') }}">
            <i class="fas fa-plus"></i>
          </a>
        </div>                          
    </div>
    <div class="panel p-4 row g-2 m-0 rounded d-none" id="panel">
      <div class="col-1">
        Выбрано:
        <div id="checked_count">
        </div>
      </div>
      <div class="col d-flex flex-row-reverse mb-3">
        <a 
          class="btn btn-lg btn-danger shadow mx-1" 
          title="Удалить"
          onclick="deleteRow()">
          <i class="fas fa-trash-alt"></i>
        </a>
        <a 
          class="btn btn-lg btn-warning shadow mx-1" 
          title="Проверить"
          onclick="checkNorRow()">
          <i class="fa-solid fa-list-check"></i>
        </a>
        <a 
          class="btn btn-lg btn-primary shadow mx-1" 
          title="Скопировать"
          onclick="copyRow()">
          <i class="fas fa-copy"></i>
        </a>
        <a 
          class="btn btn-lg btn-primary shadow mx-1" 
          title="Синхронизировать"
          onclick="syncRow()">
          <i class="fas fa-file-import"></i>
        </a>
      </div>          
    </div>
    <div class="card-body p-0">
    <div class="table-responsive p-3">
      <table class="table table-borderless mb-0" id="table">
        <thead class="table-light">
          <tr>
            <th>
              <div class="form-check">
                <input 
                  class="form-check-input" 
                  type="checkbox" 
                  value="" 
                  onclick="checkAllRow(this)"
                  id="check_allrow">
              </div>
            </th>
            <th onclick="sortTableByColumn(this,'table',1)">
              Название
            </th>
            <th onclick="sortTableByColumn(this,'table',2)">
              Описание
            </th>
            <th onclick="sortTableByColumn(this,'table',3)">
              Отличие
            </th>
            <th onclick="sortTableByColumn(this,'table',4)">
              Дата
            </th>
          </tr>
        </thead>
            <tbody>
              <tr>
                <td colspan=5 class="preload__body">
                    {% include 'preload.html' %}
                </td>
              </tr>
            </tbody>
      </table>
      <div 
        id="paginator">
      </div>
    </div>
  </div>
</form>
</div>
</div>
<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function(){
  const url = document.getElementById("form").action;
  var paginator = document.getElementById('paginator');
  renderPaginator(paginator);
  loadTable(url);
  Array.from(document.querySelectorAll('.form-check-input')).forEach(
    (el) => el.checked = false);
});

function insertRow(e, body){
  var newrow=body.insertRow(1);
  newrow.innerHTML=`
    <td>
      <div class="form-check">
        <input 
          class="form-check-input" 
          type="checkbox" 
          onclick="checkRow(this)"
          id="check_row"
          value="` + e._id + `">
      </div>                  
    </td>
    <td>
      <a 
        class="text-decoration-none link-dark btn-block fw-bold"
        href="`+ e._id + `/edit">
      ` + e.name + `
      </a>
    </td>
    <td>
      <a 
        class="text-decoration-none link-dark btn-block"
        href="`+ e._id + `/edit">
      ` + e.desc + `
      </a>
    </td> 
    <td>
    </td>
    <td>
      ` + e.pubdate + `
    </td>
    `
}

function editTable(oData){
  var table = document.getElementById("table");
  var body = table.getElementsByTagName('tbody')[0];
  body.innerHTML = ''
  oData.forEach(e => {
    msgs = [];
    var i = 0;
    var newrow=body.insertRow();
    var diff = "";
    if (e.diff){
      if (e.diff == 'new'){
        diff = `<span class="badge bg-secondary">Новое</span>`;
      }
      else if (e.diff == 'miss'){
        diff = `<span class="badge bg-danger">Отсутствует</span>`;
      }
      else {
        diff = `<span class="badge bg-warning">Изменено</span>`;
      }
    }
    newrow.innerHTML=`
    <td>
      <div class="form-check">
        <input 
          class="form-check-input" 
          type="checkbox" 
          onclick="checkRow(this)"
          id="check_row"
          value="` + e._id + `">
      </div>                  
    </td>
    <td>
      <a 
        class="text-decoration-none link-dark btn-block fw-bold"
        href="`+ e._id + `/edit">
      ` + e.name + `
      </a>
    </td>
    <td>
      <a 
        class="text-decoration-none link-dark btn-block"
        href="`+ e._id + `/edit">
      ` + e.desc + `
      </a>
    </td> 
    <td>
    ` + diff + `
    </td>
    <td>
      ` + e.pubdate + `
    </td>
    `
  })
  searchRow();
}

</script>
{% endblock %}