{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
<div class="col-10 m-3">
<form 
  method="POST" 
  class="post-form"
  id="form"
>
{{ form.csrf_token }}
  <div class="row">
    <div class="col-7 fs-4 mb-5">
      Редактирование сложного правила корреляции
    </div>
  </div>
  <div class="row">
    <div class="col-2 fs-4 mb-5">
      <button 
        type="submit" 
        class="save btn btn-primary shadow border-0 form-control">
        Сохранить
      </button>
    </div>
    <div class="col-2 fs-4 mb-5">
      <a 
        class="btn btn-light shadow border-0 form-control" 
        href="{{ url_for('cor.deeprule', obj=obj) }}"
      >
        Отмена
      </a>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-8">
      <div 
        class="card border-light shadow-sm p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h5 class="card-title">
            Основная информация
          </h5>
          <h6 
            class="card-subtitle mb-2 text-muted">Описание правила
          </h6>
          <div class="row g-2 mt-2">
            <div class="form-floating ">
              {{ form.name }}
              <label>{{ form.name.label }}</label>
            </div>
          </div>
          <div class="row g-2 mt-2">
            <div class="form-floating">
              {{ form.desc }}
              <label>{{ form.desc.label }}</label>
              {% if diff[form.desc.name] %}
              <span 
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                data-toggle="tooltip" 
                title="{{ diff[form.desc.name] }}"
                >
              </span>
              {% endif %}                  
            </div>
          </div>
          <div class="row g-2 mt-2">
            <div class="form-floating">
              {{ form.clas }}
              <label>{{ form.clas.label }}</label>
              {% if diff[form.clas.name] %}
              <span 
                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                data-toggle="tooltip" 
                title="{{ diff[form.clas.name] }}"
                >
              </span>
              {% endif %}                  
            </div>
          </div>              
          <div class="row g-2 mt-2">
            <h6 
              class="card-subtitle my-2 text-muted">К какому объекту относится и критичность
            </h6>
            <div class="col-6">
              <div class="form-floating ">
                {{ form.obj }}
                <label>{{ form.obj.label }}</label>
              </div>
            </div>      
            <div class="col-6">
              <div class="form-floating">
                {{ form.crit }}
                <label>{{ form.crit.label }}</label>
                {% if diff[form.crit.name] %}
                <span 
                  class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                  data-toggle="tooltip" 
                  title="{{ diff[form.crit.name] }}"
                  >
                </span>
                {% endif %}                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div 
          class="card border-light shadow-sm p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <h5 class="card-title">
              Дополнительная информация
            </h5>
            <h6 
              class="card-subtitle mb-2 text-muted">Разделение событий по заданному полю
            </h6>
            <div class="row g-2 mt-2">
              <div class="form-floating">
                {{ form.uniq1 }}
                <label>{{ form.uniq1.label }}</label>
                {% if diff[form.uniq1.name] %}
                <span 
                  class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                  data-toggle="tooltip" 
                  title="{{ diff[form.uniq1.name] }}"
                  >
                </span>
                {% endif %}                  
              </div>
            </div>
            <div class="row g-2 mt-2">
              <div class="form-floating">
                {{ form.uniq2 }}
                <label>{{ form.uniq2.label }}</label>
                {% if diff[form.uniq2.name] %}
                <span 
                  class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                  data-toggle="tooltip" 
                  title="{{ diff[form.uniq2.name] }}"
                  >
                </span>
                {% endif %}                  
              </div>
            </div>
            <div class="row g-2 mt-2">
              <h6 
                class="card-subtitle my-2 text-muted">Время агрегации событий
              </h6>
              <div class="form-floating">
                {{ form.timer }}
                <label>{{ form.timer.label }}</label>
                {% if diff[form.timer.name] %}
                <span 
                  class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                  data-toggle="tooltip" 
                  title="{{ diff[form.timer.name] }}"
                  >
                </span>
                {% endif %}                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-5">
    <div class="col">
      <div 
        class="card border-light shadow-sm p-3 mb-5 bg-body rounded">
        <div class="card-body">
          <h5 class="card-title">
            События
          </h5>
          <h6 
            class="card-subtitle mb-2 text-muted">События учавствующие в правиле корреляции
          </h6>
          <table class="table table-borderless" id="extra-table">
          <tbody>
            <tr>
              <td style="width: 40px">
                  <a class="btn btn-primary shadow " 
                     onclick="addExtraRows(this)"> 
                     <i class="fas fa-plus"></i>
                   </a>
              <td></td>
              </td>
            </tr>
            {% for event in form.events %}
            {% if not event.tax_main.data %}
              <tr class="d-none">
            {% else %}
              <tr>
            {% endif %}
              <td class="text-end p-3">
                <a
                  class="btn btn-sm btn-outline-secondary border-0" 
                  onclick="removeExtraRow(this)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </td>          
              <td> 
                <div class="row g-2">
                  <div class="col">                
                    <div class="form-floating">
                      {{ event.tax_main }}
                      <label>{{ event.tax_main.label }}</label>
                      {% if diff[event.tax_main.name] %}
                      <span 
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                        data-toggle="tooltip" 
                        title="{{ diff[event.tax_main.name] }}"
                        >
                      </span>
                      {% endif %}
                    </div>
                    <div class="form-floating mt-2">
                      {{ event.tax_object }}
                      <label>{{ event.tax_object.label }}</label>
                      {% if diff[event.tax_object.name] %}
                      <span 
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                        data-toggle="tooltip" 
                        title="{{ diff[event.tax_object.name] }}"
                        >
                      </span>
                      {% endif %}                  
                    </div>
                    <div class="form-floating mt-2">
                      {{ event.tax_action }}
                      <label>{{ event.tax_action.label }}</label>
                      {% if diff[event.tax_action.name] %}
                      <span 
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                        data-toggle="tooltip" 
                        title="{{ diff[event.tax_action.name] }}"
                        >
                      </span>
                      {% endif %}                  
                    </div>
                  </div>
                  <div class="col">                
                    <div class="form-floating ">
                      {{ event.count }}
                      <label>{{ event.count.label }}</label>
                      {% if diff[event.count.name] %}
                      <span 
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                        data-toggle="tooltip" 
                        title="{{ diff[event.count.name] }}"
                        >
                      </span>
                      {% endif %}
                    </div>
                    <div class="form-floating mt-2">
                      {{ event.diff }}
                      <label>{{ event.diff.label }}</label>
                      {% if diff[event.diff.name] %}
                      <span 
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                        data-toggle="tooltip" 
                        title="{{ diff[event.diff.name] }}"
                        >
                      </span>
                      {% endif %}                  
                    </div>
                  </div>
                </div>
                <div class="row g-2 pt-3">
                  <div class="col">   
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-secondary">
                            <a
                              class="btn btn-outline-primary border-0" 
                              onclick="addFilterRows(this)"> Включающий фильтр
                              <i class="fas fa-plus"></i>
                            </a>
                            {% if diff[event.incfilter.name] %}
                            <i class="fas fa-circle text-danger"
                               data-toggle="tooltip" 
                               title="{{ diff[event.incfilter.name] }}"></i>
                            {% endif %}                  
                          </td>
                        </tr>
                        {% for incfilter in event.incfilter %}
                        {% if not incfilter.value.data %}
                        <tr class="d-none">
                        {% else %}
                        <tr>
                        {% endif %}
                          <td class="text-end align-middle p-0">
                            <a
                              class="btn btn-sm btn-outline-secondary border-0" 
                              onclick="removeExtraRow(this)">
                              <i class="fas fa-trash-alt"></i>
                            </a>
                          </td>                    
                          <td>
                            <div class="row g-2">
                              <div class="col">                
                                <div class="form-floating">
                                  {{ incfilter.field }}
                                  <label>{{ incfilter.field.label }}</label>
                                </div>
                                <div class="form-floating mt-2">
                                  {{ incfilter.value }}
                                  <label>{{ incfilter.value.label }}</label>
                                </div>
                              </div>
                              </div>
                            </div>
                          </td>                        
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="col">                
                    <table class="table table-borderless">
                      <tbody>
                        <tr>
                          <td></td>
                          <td class="text-secondary">
                            <a
                              class="btn btn-outline-primary border-0" 
                              onclick="addFilterRows(this)"> Исключающий фильтр
                              <i class="fas fa-plus"></i>
                            </a>
                            {% if diff[event.excfilter.name] %}
                            <i class="fas fa-circle text-danger"
                               data-toggle="tooltip" 
                               title="{{ diff[event.excfilter.name] }}"></i>
                            {% endif %}                  
                          </td>
                        </tr>
                        {% for excfilter in event.excfilter %}
                        {% if not excfilter.value.data %}
                        <tr class="d-none">
                        {% else %}
                        <tr>
                        {% endif %}
                          <td class="text-end align-middle p-0">
                            <a
                              class="btn btn-sm btn-outline-secondary border-0" 
                              onclick="removeExtraRow(this)">
                              <i class="fas fa-trash-alt"></i>
                            </a>
                          </td>                    
                          <td>
                            <div class="row g-2">
                              <div class="col">                
                                <div class="form-floating">
                                  {{ excfilter.field }}
                                  <label>{{ excfilter.field.label }}</label>
                                  {% if diff[event.excfilter.name] %}
                                  <span 
                                    class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
                                    data-toggle="tooltip" 
                                    title="{{ diff[event.excfilter.name] }}"
                                    >
                                  </span>
                                  {% endif %} 
                                </div>
                                <div class="form-floating mt-2">
                                  {{ excfilter.value }}
                                  <label>{{ excfilter.value.label }}</label>
                                </div>
                              </div>
                            </div>
                          </td>                        
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
</div>  
</div>
{% endblock %}
