{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-10 m-3">
    <div class="row">
      <div class="col-7 fs-4 mb-5">
        Соответствие правил
        <span 
          class="badge rounded-pill bg-warning text-dark"
          id="table-count">
          {{ data|length }}
        </span>
      </div>
    </div>
    <div 
      class="card border-light shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <div class="row g-2">
          <div class="col-4">
            <div class="form-floating ">
              <input 
                aria-invalid="false" 
                type="text" 
                placeholder="поиск"
                class="form-control" 
                onkeyup="searchRow()"
                value="" 
                id="searchInput">
              <label 
                class="text-secondary"
                for="search">
                <label for="search">
                      <i class="fas fa-search"></i>
                  Поиск...
                </label>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive p-3">
        <table class="table table-borderless mb-0" id="table">
          <thead class="table-light">
              <tr>
                  <th onclick="sortTableByColumn(this,'table',1)">
                    Правило корреляции
                  </th>
                  <th onclick="sortTableByColumn(this,'table',2)">
                    Правила нормализации
                  </th>
              </tr>
          </thead>
          <tbody>
            {% if data %}
            {% for rule, events in data.items() %}
            <tr>
              <td>
              {% if not events %}
                <span style="color:#dc3545;"> {{ rule }} </span>
              {% else %}
                {{ rule }}
              {% endif %}
              </td>
              <td>
              {% for event in events %}
                <p class="m-0">{{ event }}</p>
              {% endfor %}
              </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td>
                Список пуст
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <div 
          id="paginator">
        </div>  
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener("DOMContentLoaded", function(){
  var paginator=document.getElementById('paginator');
  renderPaginator(paginator);
  searchRow();
});
</script>
{% endblock %}
