{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
  <div class="col-11 m-3">
    <h4  class="fw-bold">Добро пожаловать в 3IEM</h4>
    <div class="row mt-5" >
      <div class="col-3">
        <div class="status-card card1 card text-center border-0 shadow-sm">
          <div class="card-body">
            <div class="text-1 p-1 mt-4 bd-highlight">
              <i class="fas fa-bolt"></i>
            </div>
            <div class="text-1 p-1 mt-4 bd-highlight">
              <a class="btn btn-outline-primary btn  border-0" 
                 data-toggle="tooltip" 
                 data-placement="top" 
                 title="Установить правила"
                 onclick="clickButton(this)"
                 data-url="{{ url_for('main.install') }}">
                 <i class="fas fa-download"></i>
              </a>
              <a class="btn btn-outline-primary btn  border-0" 
                 data-toggle="tooltip" 
                 data-placement="top" 
                 title="Перезапустить"
                 id="restart_button"
                 onclick="clickButton(this)"
                 data-url="{{ url_for('main.service_control', action='restart') }}">
                 <i class="fas fa-sync-alt"></i>
              </a>
            </div>
            <div class="text-2 p-1 bd-highlight">
              Состояние: {{ data.status }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="status-card card2 card text-center border-0 shadow-sm">
          <div class="card-body">
            <div class="text-1 p-1 mt-4 bd-highlight">
              <i class="fas fa-code-branch"></i>
            </div>
            <div class="text-1 p-1 mt-4 bd-highlight">
              {{ data.version }}
            </div>
            <div class="text-2 p-1 bd-highlight">
              Версия ZIEM
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="status-card card3 card text-center border-0 shadow-sm">
          <div class="card-body">
            <div class="text-1 p-1 mt-4 bd-highlight">
              <i class="fas fa-box"></i>
            </div>
            <div class="text-1 p-1 mt-4 bd-highlight">
              {{ data.log_count }}
            </div>
            <div class="text-2 p-1 bd-highlight">
              Источники
            </div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="status-card card4 card text-center border-0 shadow-sm">
          <div class="card-body">
            <div class="text-1 p-1 mt-4 bd-highlight">
              <i class="fas fa-bug"></i>
            </div>
            <div class="text-1 p-1 mt-4 bd-highlight">
              {{ data.error_count }}
            </div>
            <div class="text-2 p-1 bd-highlight">
              Ошибки
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row mt-4">
      <div class="col-8">
        <div 
          class="card p-3 border-0 shadow-sm rounded card-status">
          <h5 class="card-title fw-bold">Данные</h5>
          <p class="card-text text-secondary">Статистика сбора сообщений, событий и инцидентов</p>
          <div class="card-body">
            <canvas 
              id="statChart" 
              data-url="{{ url_for('main.get_stats') }}"
              width="800" height="400">
            </canvas>        
          </div>
        </div>
      </div>
      <div class="col-4">
        <div 
          class="card p-3 border-0 shadow-sm rounded card-status">
          <h5 class="card-title fw-bold">Типы источников</h5>
          <p class="card-text text-secondary">Распределение источников по способу сбора</p>
          <div class="card-body m-4">
            <canvas 
              id="pieChart" 
              data-url="{{ url_for('main.get_protocols') }}"
              width="800" 
              height="400">
            </canvas>        
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8">
        <div 
          class="card p-3 border-0 shadow-sm rounded card-status">
          <h5 class="card-title fw-bold">Инциденты</h5>
          <p class="card-text text-secondary">Статистика сработки инцидентов</p>
          <div class="card-body">
            <canvas 
              id="barChart" 
              width="800" 
              height="400"
              data-url="{{ url_for('main.get_incs') }}">
              </canvas>        
          </div>
        </div>
      </div>
      <div class="col-4">
        <div 
          class="card p-3 border-0 shadow-sm rounded card-status">
          <h5 class="card-title fw-bold">Данные</h5>
          <p class="card-text text-secondary">Отсутствие сообщений от источников</p>
          <div class="card-body m-4">
            <table 
              id="flow" 
              data-url="{{ url_for('main.get_flow') }}">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-8">
        <div 
          class="card p-3 border-0 shadow-sm rounded card-status">
          <h5 class="card-title fw-bold">Журнал</h5>
          <p class="card-text text-secondary">Сгруппированные ошибки в журнале системы</p>
          <div class="card-body">
            <table 
              id="logerror" 
              data-url="{{ url_for('main.get_logerror') }}">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div 
          class="card p-3 border-0 shadow-sm rounded card-status">
          <h5 class="card-title fw-bold">Ошибки</h5>
          <p class="card-text text-secondary">Распределение ошибок по источникам</p>
          <div class="card-body m-4">
            <canvas id="radarChart" width="400" height="400" data-url="{{ url_for('main.get_dataerror') }}"></canvas>        
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>

const CHART_COLORS = {
  yellow: 'rgb(255, 193, 7)',
  light_blue: 'rgb(111, 189, 255)',
  blue: 'rgb(16, 120, 255)',
  orange: 'rgb(255, 159, 64)',
  red: 'rgb(255, 99, 132)',
  green: 'rgb(75, 192, 192)',
  purple: 'rgb(153, 102, 255)',
  grey: 'rgb(201, 203, 207)'
};

// statistic chart
function dataStat(e){
  const incline = document.getElementById('statChart');
  let url = incline.dataset.url;
  let params = new URLSearchParams(location.search);
  if (params.get('days')) url += '?days=' + params.get('days');
  fetch(url)
    .then((response) => {
      return response.text();
    })
    .then((data) => {
      var oData = JSON.parse(data);
      console.log(oData.label)
      console.log(oData.inc_data)
      var dataStat = {
        labels: oData.label,
        datasets: [
          {
            label: 'Инциденты',
            data: oData.inc_data,
            borderColor: CHART_COLORS.red,
            backgroundColor: CHART_COLORS.red,
          },
          {
            label: 'События',
            data: oData.event_data,
            borderColor: CHART_COLORS.yellow,
            backgroundColor: CHART_COLORS.yellow,
          },
          {
            label: 'Сообщения',
            data: oData.alert_data,
            borderColor: CHART_COLORS.grey,
            backgroundColor: CHART_COLORS.grey,
          },
        ]
      };
      var inclinectx = document.getElementById('statChart').getContext('2d');
      const inclineChart = new Chart(inclinectx, {
        type: 'line',
        data: dataStat,
        options: {
          responsive: true,
          scales: {
            x: {
              grid: {
                display: false,
              }
            },    
            y: {
              grid: {
                borderDash: [5, 5],
              }
            },    
          },
          plugins: {
            legend: {
              align: 'end',
              position: 'top',
              labels: {
                usePointStyle: true,
              },        
            },
          }
        },
      });
    });
};

function dataPie(e){
  const radar = document.getElementById('pieChart')
  fetch(radar.dataset.url)
    .then((response) => {
      return response.text();
    })
    .then((data) => {
      var oData = JSON.parse(data);
      var dataPie = {
        labels: Object.keys(oData),
        datasets: [
          {
            label: 'Протоколы',
            data: Object.values(oData),
            borderColor: Object.values(CHART_COLORS),
            backgroundColor: Object.values(CHART_COLORS),
          },
        ]
      };
      var radarctx = document.getElementById('pieChart').getContext('2d');
      const radarChart = new Chart(radarctx, {
        type: 'pie',
        data: dataPie,
        options: {
          responsive: true,
          plugins: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
              },        
            },
          }
        },
      });
    });
};

// barChart

function dataBar(e){
  const barchart = document.getElementById('barChart')
  fetch(barchart.dataset.url)
    .then((response) => {
      return response.text();
    })
    .then((data) => {
      var oData = JSON.parse(data);
      var dataLine = {
        labels: Object.keys(oData),
        datasets: [
          {
            data: Object.values(oData),
            borderColor: CHART_COLORS.light_blue,
            backgroundColor: CHART_COLORS.light_blue,
            barThickness: 10,
          },
        ]
      };
      var barctx = document.getElementById('barChart').getContext('2d');
      const barChart = new Chart(barctx, {
        type: 'bar',
        data: dataLine,
        options: {
          indexAxis: 'y',
          elements: {
            bar: {
              borderWidth: 2,
            }
          },
          responsive: true,
          scales: {
            x: {
              grid: {
                borderDash: [5, 5],
              }
            },    
            y: {
              grid: {
                display: false,
              }
            },    
          },
          plugins: {
            legend: {
              display: false,
              position: 'right',
            },
          }
        },
      });
    });
};

// radar

function dataRadar(e){
  const radar = document.getElementById('radarChart')
  fetch(radar.dataset.url)
    .then((response) => {
      return response.text();
    })
    .then((data) => {
      var oData = JSON.parse(data);
      var dataRadar = {
        labels: Object.keys(oData),
        datasets: [
          {
            label: 'События',
            data: Object.values(oData),
            borderColor: CHART_COLORS.light_blue,
          },
        ]
      };
      var radarctx = document.getElementById('radarChart').getContext('2d');
      const radarChart = new Chart(radarctx, {
        type: 'radar',
        data: dataRadar,
        options: {
          responsive: true,
          plugins: {
            legend: {
              display: false,
            },
          }
        },
      });
    });
};



// status
function get_logerror() {
  const table = document.getElementById("logerror");
  var body = table.getElementsByTagName('tbody')[0];
  fetch(table.dataset.url)
    .then((response) => {
      return response.text();
      //return JSON.parse(data);
    })
    .then((data) => {
      var oData = JSON.parse(data);
      for (e in oData) {
        var newrow=body.insertRow(0);
        newrow.innerHTML = `
        <tr><td><span class="badge rounded-pill bg-warning text-dark">
        `+ oData[e]
        + `</span></td></tr>`
        + `<tr><td>` + e
        + `</td></tr>`;
      };
    });
}

function get_flow() {
  const table = document.getElementById("flow");
  var body = table.getElementsByTagName('tbody')[0];
  fetch(table.dataset.url)
    .then((response) => {
      return response.text();
      //return JSON.parse(data);
    })
    .then((data) => {
      var oData = JSON.parse(data);
      for (e in oData) {
        var newrow=body.insertRow(0);
        newrow.innerHTML = `
        <tr><td><span class="badge rounded-pill bg-warning text-dark">
        `+ oData[e]
        + `</span></td></tr>`
        + `<tr><td>` + e
        + `</td></tr>`;
      };
    });
}

document.addEventListener("DOMContentLoaded", function(){
  get_logerror();
  get_flow();
  dataStat();
  dataRadar();
  dataPie();
  dataBar();
});


</script>
{% endblock %}